.container-{
    display: flex;
}

.card-wrapper {
     width: calc(100% / 6);
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    justify-content: center;
    // background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(228,128,43,1) 100%, rgba(0,212,255,1) 100%);
    gap:20px;
  
  }
  
  
  .card- {
  
    width: 200px;
    margin: 10px 0;
    border-radius: 30px;
    // background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(228,128,43,1) 100%, rgba(0,212,255,1) 100%);
    box-shadow: 5px 10px 10px rgb(2,0,36);;
  
    .img-container {
      width: 140px;
      
      margin: 40px 0;
  
      img {
        width: 100%;
        height: 100%;
      }
    }
  
    .series {
      max-width: 140px;
    //   color: white;
      font-size: 11px;
    }
  }
  
  