// uoi
.container-show{
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, #4b6cb7, #182848);
}
.card-wrapper-show{
  display: flex;
  justify-content: center;
  width: 350px;
  margin: 40px 0;
  border: 1px solid black;
  border-radius: 30px;
  background: linear-gradient(to right, #00c6ff, #0072ff);;
  box-shadow: 5px 10px 10px rgb(2,0,36);;
}
.card_show{
    width: 250px;
    margin: 40px 0;
}

  .img-container-show{
    width: 250px;
    border-radius: 20px 10px;
   
  }
  .img-container-show img{

    width: 100%;
  }

